* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    font-size: 18px;
}

.menu {
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
}

.productLi {
    position: relative;
    padding-right: 20px;

}

.submenu {
    position: absolute;
    list-style: none;
    width: 84%;
    height: 86;
    background-color: rgb(49, 49, 49);
    display: none;
    border-radius: 4px 4px 4px 7px;
    color: black;

}

.submenu a:hover {
    color: red;
}



.menu a:hover {
    color: rgb(230, 8, 8);
}

.submenu>li {
    line-height: 40px;
    padding-left: 10px;
}

.productLi:hover .submenu {
    display: block;
}

.menu_ul {
    display: flex;
    line-height: 40px;
    list-style: none;
    width: 80%;

}

.menu_ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu_ul>li {
    margin-right: 30px;
}

.menu_ul:first-child {
    margin-left: 20px;
}

.searchbox {
    width: 22%;
    padding-top: 7px;
}

.searchbox>.searchIpt {
    padding: 10px 8px;
    height: 21px;

}

.searchbox>.searchBtn {
    width: 90px;
    height: 26px;
    cursor: pointer;

}


.main {
    width: 100%;
    margin-top: 20px;
    color: black;
    display: flex;
    min-height: 400px;
}

.sliderbar {
    width: 30%;
    border-right: 1px solid rgb(4, 121, 255);

}

.sliderbar>ul {
    width: 97%;

}

.sliderbar>ul>li {
    height: 40px;
    margin-bottom: 10px;
    background-color: grey;
    border-radius: 0px 0px 7px 7px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.sliderbar>ul>li>a {
    color: white;
}

.main_1 {
    width: 100%;
    padding-left: 2px;
    background-color: white;

}

.main_1>.row {
    width: 100%;
    display: flex;
}

.productitem {
    width: 24%;
    margin-bottom: 30px;
    margin-right: 1%;
    box-shadow: 0px 3px 3px 1px;
    padding-bottom: 11px;
    border-radius: 11px;
}

.productitem>.row:first-child {
    width: 100%;
}


.productitem>.row:first-child>img {
    width: 99%;
    margin: 0px auto;
}

.productitem>.row:nth-child(2) {
    width: 100%;
    padding-left: 10%;
    margin-top: 14px;
}

.productitem>.row:nth-child(2) h5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    padding-bottom: 4px;
}

.productitem>.row:last-child {
    margin-top: 12px;
    padding-left: 21px;
}

.productitem>.row:last-child button {
    padding: 10px 35px;
    border: 1px solid rgb(0, 162, 255);
    background-color: none;
    cursor: pointer;
}

.productitem>.row:last-child button:hover {
    background: rgb(7, 247, 255);
}

.footer {
    width: 100%;
    background-color: rgb(5, 4, 3);
    min-height: 40px;
    color: rgb(255, 255, 255);
}

footer>.row {
    width: 100%;
    display: flex;
}

.footer>.row>.col:first-child {
    width: 70%;
    padding: 10% 3%;
}

.footer.row>.col:first-child>ul>li {
    line-height: 40px;
}





.footer ul {
    list-style: none;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}

.footer.roW>.col.row:last-child {
    width: 29%;
    margin-left: 1%;
}

.footer.roW>.col.row:last-child>iframe {
    width: 100%;
}