* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    font-size: 18px;
}

.menu {
    width: 100%;
    background-color: red;
    color: black;
    display: flex;
}

.productLi {
    position: relative;

}

.submenu {
    position: absolute;
    list-style: none;
    width: 250%;
    height: 100px;
    background-color: rgb(233, 99, 46);
    display: none;
}

.productLi:hover .submenu {
    display: block;
}


.menu_ul {
    display: flex;
    line-height: 40px;
    list-style: none;
    width: 80%;
}

.menu_ul a {
    text-decoration: none;
    color: rgb(17, 2, 2);
}

.menu_ul>li {
    margin-right: 30px;
}

.menu_ul:first-child {
    margin-left: 20px;
}

.searchbox {
    width: 22%;
    padding-top: 7px;
}

.searchbox>.searchIpt {
    padding: 10px 8px;
    height: 21px;

}

.searchbox>.searchBtn {
    width: 90px;
    height: 26px;
    cursor: pointer;

}


.main {
    width: 100%;
    background-color: blueviolet;
    color: black;
    display: flex;
    min-height: 400px;
}

.sliderbar {
    width: 30%;
    background-color: aqua;
}

.main_1 {
    width: 70%;
    background-color: aquamarine;
}

.footer {
    width: 100%;
    background-color: burlywood;
    min-height: 40px;
    color: black;
}